/* =============
    Hero
============= */

#hero {
  
    h1 {
        font-weight: 700;
        font-size: 18px;
        line-height: 20px;
    }
    p {
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
    }
    >div {
       
        ul {
            #info-1 {
                background-color: var(--reddark);
                color: white;
                padding: 16px;

            }

            #info-2 {
                background-color: var(--redmain);
                padding: 16px;
                color: white;
            

            }

            @include md {
                display: grid;
                grid-template-columns: 40% auto;
            }

            @include lg {
                display: grid;
                grid-template-columns: 50% auto;
            }

            @include xxl {
                grid-template-areas: auto 1440px auto;
            }

            li{
                a:link, 
                a:visited{
                    text-decoration: none;
                    color: white;
                    transition: 0.25s;
                    
                }

                a:hover, a:active{
                    color: navy;
                    
                }
            }
        }
    }
}

