/* =============
    Hero
============= */

#hero{
     aside{
        display: grid;
        grid-template-columns: 16px auto 16px;
        grid-template-areas: ". hero-aside .";
        >div{
            grid-area: hero-aside;
        }
     }
}

#underhero{

    .underhero-content{
        display: grid;
        grid-template-columns: 16px auto 16px;
        grid-template-areas: ". underhero .";
        >div{
            grid-area: underhero;
            display: grid;
            grid-template-columns: 50% auto;
        }
    }
}


/* =============
    gallery
============= */

#gallery{
    display: grid;
    grid-template-columns: (repeat, 1fr);
    grid-template-areas: "image";
}