/* =============
    Hero
============= */

#hero{
    >div{
        ul{
            margin: 0;
            padding: 0;
            background-color: fuchsia;

            #info-1{
                background-color: var(--reddark);
                color: white;
                padding: 16px;
                display: grid;
                grid-template-columns: 70% auto;

            }

            #info-2{
                background-color: var(--redmain);
                padding: 16px;

            }

            @include md{
                display: grid;
                grid-template-columns: 40% auto;
            }

            @include lg{
                display: grid;
                grid-template-columns: 50% auto;
            }

            @include xxl{
                grid-template-areas: auto 1440px auto;
            }
        }
    }
}




