/* =============
    Under Hero
============= */

#underhero{
    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". underhero .";

    >div{
    grid-area: underhero;
    }
}