/* =============
    whats new
============= */

#whatsnew{
    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". whatsnew .";
    // background-color: gray;
    width: 100%;

     >div{
        grid-area: whatsnew;
        margin-bottom: 24px;

        img{
            width:50%;
        }

        }


        // whats new text
        >h1{
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            color: #637275;
        }

        ul{ 
            @include md{
                display: grid;
                gap: 16px;
                grid-template-columns: repeat(4, 1fr);
                grid-template-areas:
                "c1 c1 c2 c2"
                "c3 c3 c4 c4"
                ". c5 c5 .";
                
            }

            @include lg{
                    display: grid;
                    gap: 16px;
                    grid-template-columns: repeat(6, 1fr);
                    grid-template-areas:
                    "c1 c1 c2 c2 c3 c3"
                    ". c4 c4 c5 c5 ."
                }
                
            li{
                background-color: #D5DDE0;
                text-align: center;
                padding: 16px;
                margin-top: 16px;
                
            }    
        }

        #c1{
            grid-area: c1;
        }
    
        #c2{
            grid-area: c2;
        }
    
        #c3{
            grid-area: c3;
        }
    
        #c4{
            grid-area: c4;
        }
    
        #c5{
            grid-area: c5;
        }
    }
