/* =============
    whats new
============= */

#whatsnew {
    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". whatsnew .";
    width: 100%;


    @include xxl {
        grid-template-columns: auto 1280px auto;
        grid-template-areas: ". whatsnew .";
    }

    >div {
        grid-area: whatsnew;
        margin-bottom: 24px;

    }


    // whats new text
    h1 {
        font-weight: 400;
        color: #637275;
        margin-bottom: 16px;
    }

    ul {

        h1 {
            font-weight: 600;
            font-size: 27px;
            color: black;
            line-height: 30px;
        }

        p {
            font-weight: 400;
            line-height: 20px;
        }


        @include md {
            display: grid;
            gap: 16px;
            grid-template-columns: repeat(4, 1fr);
            grid-template-areas:
                "c1 c1 c2 c2"
                "c3 c3 c4 c4"
                ". c5 c5 .";

        }

        @include lg {
            display: grid;
            gap: 16px;
            grid-template-columns: repeat(6, 1fr);
            grid-template-areas:
                "c1 c1 c2 c2 c3 c3"
                ". c4 c4 c5 c5 ."
        }


        li {

            background-color: var(--greylight);
            text-align: left;
            box-shadow: 0px 1px 1px rgba(42, 48, 54, 0.3);

            a:link,
            a:visited {
                text-decoration: none;
                color: white;
                transition: 0.25s;

            }

            a:hover,
            a:active {
                text-decoration: underline;

            }

            // img {
            //     width: 100%;
            //     padding: none;
            // }

            .card-img {
                background-size: cover;
                background-position: center;
                height: 30vh;
            }
            

            section {
                display: flex;
                flex-direction: column;
                padding: 16px;
                gap: 16px;

                div {
                    margin-top: auto;

                    a {
                        display: inline-block;
                    }
                }


            }
        }
    }

    #c1 {
        grid-area: c1;

        .card-img {
            background-image: url("../img/whatsnew/shaunwhitegold.jpg");
        }
    }

    #c2 {
        grid-area: c2;

        // .card-img {
        //     background-image: url("..img/whatsnew/mobiletrick.jpg");
        // }

    }

    #c3 {
        grid-area: c3;

        .card-img{
            background-image: url("..img/whatsnew/womangold.jpg");
}
    }

    #c4 {
        grid-area: c4;


    }

    #c5 {
        grid-area: c5;


    }
}