/* =============
    Footer
============= */

footer {
    background-color: var(--greymid);
    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". footer .";
    padding-bottom: 16px;
    h1{
        font-weight: 600;
        font-size: 20px;
        margin-bottom: 16px;
    }

    h2{
        font-weight: 600;
        font-size: 16px;
        margin-top: 16px;
    }

    p{
        font-weight: 400;
        font-size: 12px;
        margin: 16px auto 16px;
        
    }    

    >div {
        grid-area: footer;

        #office {
            grid-template-columns: 70% auto;
            padding: 16px;
            grid-area: office;
            h1{
                color: var(--navy);
            }
        }

        #newsletter {
            grid-template-columns: 70% auto;
            padding: 16px;
            grid-area: newsletter;

            a{
                padding: 16px 24px;
                border: none;
                margin-top: 16px;
            }
                input{
                    width: 357px;
                    background-color: var(--greylight);
                    border: none;
                    padding: 16px 24px;
                }
            
        }

        #socialmedia {
            grid-template-columns: 70% auto;
            padding: 16px;
            grid-area: socialmedia;
                       
            ul{
                display: flex;
                gap: 24px;

            }
        }

        @include md{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-areas: 
            "office newsletter"
            ". socialmedia"
        }

        @include lg{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-areas: 
            "office newsletter socialmedia"
        }

        @include xxl {
            grid-template-columns: auto 1280px auto;
            
        }

    }
}