/* =============
    Header
============= */

header {
//    background-color: var(--greymid);
    #logo-nav {
        display: grid;
        grid-template-columns: 16px auto 16px;
        grid-template-areas: ". logo-nav .";
        background-color: var(--greymid);
        padding: 16px 0 24px;


        >div {
            grid-area: logo-nav;

            img {
               
            }
        }

    }
}

#search {
    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". search .";
    padding: 16px 0;

    >div {
        grid-area: search;

        form {
            
            input {
                border: none;
            }

            button {
                border: none;
                height: 34px;
                width: 43;
                img {

                }
            }
        }
    }
}